<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> My first page </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ivan's blog</a></h1>
        </div>

        <div>
            <br>
            <p>Published 26 Oct. 2022, 17:10</p>
            <h2><a href="">My first post</a></h2>
            <p>Путь в тысячу шагов начинается с одного шага</p>
        </div>

        <div>
            <br>
            <p>Published 26 Oct. 2022, 17:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Дао, выраженное словами, не есть истинное Дао</p>
        </div>
    </body>
</html>